
<div id="title">
    <%= image_tag "logo.png", :size => '200x60'%>
</div>
<div id="tips">
	All the pictures you like are here
</div>
<div id="buttonswrapper">
	<div id="buttonsbox">
		<!-- %= link_to('Login', {:controller => 'access', :action => 'login'}, :class => 'button big' %-->
		<a href="/access/login" class="button big">
			Login	
		</a>	
		<a href="/users/new" class="button bigblue">
			Join Picoom
		</a>	
	</div>
</div>
