/*Contains things realted with container*/
.item {
  width: 200px;
  padding:10px;
  margin-bottom: 10px;
  box-shadow: 0px 0px 10px #888888;
  float: left;
}
.iteminnerbox{
	height:40px;
}
.itemimage img{
	width:200px;
	margin-left: auto;
	margin-right: auto;
}
#noticebox{
	text-align: center;
	width:1004px;
	margin-top: 10px;
	padding:10px;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 0px 0px 10px #888888;
}

#transparentbigbox{
	padding:10px;
	position: relative;
	overflow: hidden;
	top:10px;
	width:1024px;
	margin-left: auto;
	margin-right: auto;
}
#bigbox{
	padding:10px;
	position: relative;
	overflow: hidden;
	box-shadow: 0px 0px 10px #888888;
	top:10px;
	width:1004px;
	margin-left: auto;
	margin-right: auto;
}

#bigboxinsideimagebox{

	background-color: #00FFFFF;
	width:1004px;
	margin-right: auto;
	margin-right: auto;
}

