#title{
	font-size: 50px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 8em;
	margin-top:2em;
}
#tips{
	font-size: 30px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 18em;
	margin-top:2.5em;

}
#buttonswrapper{
	margin-top: 10em;
	height: 6em;
	margin-left: auto;
	margin-right: auto;
}
#buttonsbox{
	margin-top: auto;
	margin-left: auto;
	margin-right: auto;
	width: 33em;
	height: 5em;
	margin-top:3em;
}